@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import 'tailwindcss';

:root {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  @apply hidden;
}

@theme {
  /* fonts */
  --font-dm-sans: var(--font-dm-sans);

  /* primary */
  --color-primary-500: #131ca2;
  --color-primary-400: #0a12c9;
  --color-primary-300: #111aff;
  --color-primary-200: #d6e4ff;
  --color-primary-100: #e8f1ff;
  --color-primary-50: #f5f8fd;
  --color-text-primary: #101828;

  /* secondary */
  --color-secondary-500: #00bdff;
  --color-secondary-400: #2dcdff;
  --color-secondary-300: #b6eaff;
  --color-secondary-200: #def4ff;
  --color-secondary-100: #effaff;
  --color-secondary-50: #f4fcff;

  /* neutral */
  --color-neutral-500: #0e1118;
  --color-neutral-400: #2c3045;
  --color-neutral-300: #364056;
  --color-neutral-200: #3d4a66;
  --color-neutral-100: #4c5b7d;
  --color-neutral-50: #617397;
  --color-neutral-dark-500: #9c9ea5;

  /* background */
  --color-background-400: #e9ebf1;
  --color-background-300: #f4f5f8;
  --color-background-200: #f9fafb;
  --color-background-100: #fcfdfd;
  --color-background-50: #ffffff;

  /* components */
  --color-brand: #182150;
  --color-brand-200: #b2c8f1;
  --color-black-10: #f8f8fa;
  --color-black-50: #f1f1f5;
  --color-black-100: #e2e4ec;
  --color-black-200: #9ea2b8;
  --color-black-300: #5d627c;
  --color-black-400: #2c3045;
  --color-black-500: #1a1f38;
  --color-black-550: #1c1b1f;
  --color-black-900: #000000;
  --color-brand-blue-400: #2f38cf;
  --color-brand-blue-500: #e4e5f9;
  --color-secondary-blue-50: #f1fbff;
  --color-secondary-blue-300: #64d6ff;
  --color-green-success-500: #059669;
  --color-gradient-end: #11111c;
  --color-light-foreground: #09090b;
  --color-light-muted-foreground: #71717a;
  --color-background-dark-500: #0e101a;
  --color-background-dark-100: #333a68;

  /* semantics */
  --color-yellow-900: #ffc100;
  --color-yellow-800: #ffd140;
  --color-yellow-700: #ffe080;
  --color-yellow-600: #ffefbf;
  --color-yellow-500: #f2b700;
  --color-yellow-400: #fffbef;

  --color-green-900: #20b18b;
  --color-green-800: #34d399;
  --color-green-700: #c1f0dd;
  --color-green-600: #ebf9f3;
  --color-green-500: #f5fcf9;
  --color-green-400: #fafdfc;

  --color-red-900: #e63e3e;
  --color-red-800: #f87171;
  --color-red-700: #fabbbb;
  --color-red-600: #fce6e6;
  --color-red-500: #fdf3f3;
  --color-red-400: #fef9f9;

  /* Gray */
  --color-gray-200: #eaecf0;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;

  /* Purple */
  --color-purple-25: #fafaff;
}

.custom-datepicker-popper {
  z-index: 50;
}

.custom-datepicker-calendar {
  border-radius: 0.5rem;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.react-datepicker-popper {
  margin-left: 2rem;
}

/* Ensure the date picker input has proper full width */
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100% !important;
  border: 1px solid var(--color-background-400) !important;
  padding-left: 40px;
}
